*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

.header{
    background: crimson;
    /* border: 1px solid greenyellow; */
    height: 40px;
    position: sticky;
    top:0px;
    display: flex;
    justify-content: space-around;
    padding: 30px 30px;
    align-items: center;
    transition: 0.5s;
    /* width: 100%; */
    z-index: 1;
    width: 100vw;
}
body{
    min-height:1000px;
}
.banner{
    width: 100vw;
    height: 100vh;
    background-image: url(asset/img/img5.jpg);
    background-size: cover;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.content{
    text-align: center;
}
.content h2{
    color: white;
}
.banner h2{
    font-weight:100;
    font-size: 4em;
}
.banner p{
    text-align: center;
    /* text-align: justify; */
    font-size: 20;
    color:white;
    font-size: 25px;
}
.btn{
    display: inline-block;
    padding: 5px 5px;
    color:black;
    background-color:rgb(236, 65, 65);
    border-radius: 5px;
    font-size: 1rem;
    text-transform: uppercase;
    text-decoration:none;
    transition: 0.5s;
    letter-spacing: 1px;
    margin-top: 20px;  
    font-weight: bold;
}
.btn:hover{
    letter-spacing: 4px;
}
.header h5{
    font-size: 50px;
    color:white;
}
.header li{
    display:inline-block;
    color:white;
    font-size: 20px;
}
.header li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    background-color: white;
    padding: 5px 5px;
    margin-left: 10px;
    padding: 10px;
}
.header li a:hover{
    background-color: wheat;
}
.main{
    width:100%;
    height:300px;
    position: relative;
    background-color:palegreen;
    margin-top: 20px;
    padding-top: 60px;
}
.about{
  width: 50%;
  height: 300px;
  position: absolute;
  
}
.about h5{
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
}
    .about p{margin-left: 20px;text-align: justify;}
.about span{
     color: rgb(175, 55, 75);
    }  
.imgcontain{
    width:40%;
    height: 300px;
    position:absolute;
    left: 800px;

}
.imgcontain img{
    width: 250px;
    height: 200px;
    padding-top: 10px;
}
.menumain{
    width:100%;
    height: 800px;
    background-color: skyblue;
}
.menuheader{
    margin:20px;
    padding-top: 60px;
}
.menuheader h5{
    font-size: 50px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: bolder;
}
.menuheader p{
    line-height: 20px;
    text-align: justify;
}
.menulist{
    display: flex;
    justify-content: space-evenly;
    margin: 50px 50px;
    transition: 0.5s;
}
.fastfoodlist{
    display: flex;
    justify-content: space-evenly;
    margin: 50px;
    transition: 0.5s;
}
#pic{
    width: 250px;
    height: 200px;
    box-shadow: 10px 10px 1px 20px rgba(255, 255, 255, 0.829);
    margin-bottom: 5px;
}
.menuheader span{
    color: rgb(175, 55, 75);
}
.expert{
    width:100%;
    background-color: sandybrown;
    /* margin-top:20px; */
    margin-bottom:20px;
    padding-top: 60px;
}
.headerex h5{
    font-size: 50px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: bolder;
}
.headerex{
    margin: 10px 10px;
}
.headerex span{
    color: rgb(175, 55, 75);
}
.expertimg{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.expertimg img{
    width:250px;
    height:250px;
}
#chefid{
padding :10px 10px;

}
.testimonial{
    padding-top: 60px;
    width:100%;
    height: 700px;
    /* margin-top:20px; */
    margin-bottom:20px;
    position: relative;
    background-color: teal;
}
.headertesti h5{
    font-size: 50px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: bolder;
}
.headertesti span{
    color: rgb(175, 55, 75);
}
.testiimg{
    width: 90%;
    height: 500px;
    display: flex;
    justify-content: space-between;
    margin-left: 90px;
}
.testim1 img{
    width: 200px;
    height: 300px;
    border-radius: 50%;
    margin-left: 20px;
}
.testim1 p{
    text-align: justify;
}
.testim2 img{
    width: 200px;
    height: 300px;
    border-radius: 50%;
    margin-left: 20px;
}
.testim2 p{
    text-align: justify;
}
.testim3 img{
    width: 200px;
    height: 300px;
    border-radius: 50%;
    margin-left: 20px;
}
.testim3 p{
    text-align: justify;
}
.testim1{
    padding: 10px;
    width: 300px;
    height: 480px;
    
    margin-left: 30px;
    /* border: 1px solid red; */
}
.testim2{

height: 480px;

height: 300px;

width: 300px;

height: 480px;

margin-left: 40px;

/* border: 1px solid red; */

padding: 10px;
}
.testim3{
    padding: 10px;
    width: 300px;
    margin-left: 80px;
    height: 48opx;
    height: 480px;
    /* border: 1px solid red; */
   
}
.con{
   
    width:100%;
    height:500px;
    background-image: url(asset/img/bag.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /* padding-top: 60px; */
}
.conheader h5{
    color: white;
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bolder;

}
.conheader span{
    color: rgb(175, 55, 75);
}

.logform{
    width:500px;
    position: absolute;
    left:450px;
    background-color:white;
}
.logform h5{
    font-size: 1.5rem;
    font-weight: bold;
    margin:15px 20px;
    text-align: center;
}
.cen{
    background:white;
    text-align: center;

}
.in{
    margin:10px 10px;
    text-align: center;
    width: 200px;
    padding: 10px;
}
.in[type="submit"]{
    border:0px;
    color:white;
    width:200px;
    background:#3498db;

}